html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    min-width: 1100px;
    min-height: 600px;
}
body {
    padding: 0;
    margin: 0;
    background: #f7f7fb;
    font-size: 1.4rem;
}
input,
button,
select,
textarea{
    outline:none
}
select:hover{
    cursor: pointer;
}
.bodyContainer {
    width: 100%;
    background: #f7f7fb;
}
