.GroupForm-formCss {
    margin-bottom: 5px;
}
.GroupForm-inputCSS {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    outline:none;
}
.GroupForm-helpersCSS2 {
    width: 400px;
}
.GroupForm-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.GroupForm-buttonCSS:hover{
    cursor: pointer;
    transform: scale(0.97);
}
.GroupForm-tableLayoutGroup{
    width: 1200px;
    table-layout:fixed;
}
