.Table-taskTable{
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
}
.Table-taskTable tbody tr:nth-of-type(odd){
    background: #f5f5f9;
}
.Table-taskTable tbody td,
.Table-taskTable thead th{
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
}
.Table-taskTable thead{
    border-bottom: 1px solid #101010;
}
.Table-taskTable tbody tr:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}
.Table-taskTable td{
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
