.react-select{
    position: relative;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}
.react-select-btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: transparent;
}
.react-select-list{
    position: absolute;
    background: #fff;
    max-height: 400px;
    min-height: 60px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #d8d8d8;
    border-radius:3px;
    margin-top: 3px;
    z-index: 999;
    padding: 5px 0;
    box-shadow: 3px 3px 2px #d0d0d0;
}
.react-select-list>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.react-select-list>ul>li{
    line-height: 25px;
    padding-left: 5px;
    color: #000;
}
.react-select-list>ul>li:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    color: #000;
    /*background: #17a1e5;*/
    /*color: #ffffff;*/
}
.react-select-list .noResult{
    background: rgba(0, 0, 0, 0.1);
}
.react-select-list .noResult:hover{
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}
.react-select-list .react-select-select{
  background: #17a1e5;
  color: #ffffff;
}
.react-select-list .react-select-active{
    background: #17a1e5;
    color: #ffffff;
}
.react-select-list .react-select-active:after{
    content: url('../../img/selected.png');
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.react-select-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 6px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    float: right;
}

.react-select-search {
    width: 100%;
    height:25px;
    padding: 3px;
    margin-bottom: 3px;
}
.none-box {
    display: none;
}
.react-select-input{
    width: 97%;
    height:100%;
    padding: 0 3px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}
