.H5Enter-formCss {
    margin-bottom: 5px;
}
.H5Enter-inputCSS {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    outline:none;
}
.H5Enter-helpersCSS1 {
    width: 170px;
}
.H5Enter-selectCSS {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    display: inline-block;
    width: 160px;
    height: 26px;
    padding: 3px 14px 3px 5px;
    background: url('../../img/down.png') no-repeat;
    background-position: 140px 9px;
    background-size: 10px 7px;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #000000;
    outline:none;
}
.H5Enter-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.H5Enter-buttonCSS:hover{
    cursor: pointer;
    transform: scale(0.97);
}
.H5Enter-enterSelect{
    width: 100%;
    background-position: 66px 9px;
}
.H5Enter-textOverflow >td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.H5Enter-tableLayoutH5{
    width: 1200px;
    table-layout:fixed;
}
.Table-taskTable tbody .H5Enter-tdCSS{
    padding: 0 8px;
}
.H5Enter-helper{
    width:200px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-right: 15px;
}
